body {
    margin: 0;
    font-family: serif;
    background: white;
    color: black;
}

a {
    text-decoration: none; 
    color: inherit; 
}


.layout {
    min-height: 100vh;
}

.image-area {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr;
    height: 100vh;
}

.image-area a, 
.image-area img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


.keyword-box {
    background: #fff;
    padding: 24px;
    display: flex;
    align-items: flex-start;
    font-size: 25px; 
    font-family: sans-serif; 
}

.keyword-box ul {
    list-style: none;
    padding: 0; 
    margin: 0; 
}

.keyword-box li {
    font-size: 18px;
    line-height: 1.9;
}


@media (max-width: 768px) {
    
    .layout {
        height: 100vh; 
    }
    
    .image-area {
        display: grid; 
        grid-template-columns: repeat(2, 1fr); 
        grid-template-rows: auto; 
        height: 100%; 
        overflow-y: scroll; 
    }


    .keyword-box {
        display: none;
    }
    
    .image-area a {
        height: auto;
        aspect-ratio: 1 / 1; 
    }
    
    .image-area img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    footer {
        padding: 10px 0;
        font-size: 10px;
    }
}


.detail-page {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}


.back {
    position: absolute;
    top: 40px;
    left: 40px;
    text-decoration: none;
    color: black;
    font-size: 14px;
}


.title {
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 0.1em;
}


.detail-image {
    width: 240px;
    height: auto;
}


.description {
    font-size: 16px;
    line-height: 1.8;
    text-align: center;
}


footer {
    text-align: center;
    font-size: 12px;
    padding: 20px 0;
}





